{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpareChange</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav>
        <a href="{% url 'home' %}">SpareChange</a>
        <a href="{% url 'create_job' %}">Post A Job</a>
        <div>
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'signup' %}">Sign Up</a>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

</body>

</html>